[Unit]
Description=UI Automator Service
Requires=graphical.target

[Service]
ExecStart=/usr/bin/uiautomator
Restart=always
#RestartSec=1
#KillSignal=SIGUSR1

[Install]
WantedBy=multi-user.target